{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block cssVista %}
    <link href="{% static 'css/cliente.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Clientes</h1>
    <h2 class="operacion">Alta Cliente</h2>
{% endblock %}
{% block formulario %}
    <div class="container container-form">
        <form method="POST" class="form" action='{% url "altaCliente" %}'>
            {% csrf_token %}
            <div class="input-group mb-3 info-formulario">
                <p>Agrega un cliente aquí. Dale click en agregar al terminar.</p>
            </div>
            {{ form|crispy }}
            <div class="input-group mb-3 operaciones">
                <button class="btn-Agregar" type="submit">
                    <span>Agregar</span>
                </button>
                <button class="btn-Cancelar">
                    <span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}