{% for cliente in clientes %}
    <tr class="fila-tabla">
        <td scope="row">{{ cliente.cuil }}</td>
        <td scope="row">{{ cliente.nombre }}</td>
        <td scope="row">{{ cliente.apellido }}</td>
        <td scope="row">{{ cliente.getTipo }}</td>
        <td scope="row">{{ cliente.getTipoPersona }}</td>
        {% if cliente.activo %}
        <td scope="row"><i class="bi bi-check-circle"></i></td>
        {% else %}
        <td scope="row"><i class="bi bi-x-circle"></i></td>
        {% endif %}
        <td scope="row">
            <button href="{% url 'detalleCliente' cliente.pk %}" class="opcion" type="button"
                data-url="/gestionClientes/{{cliente.pk}}" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                aria-controls="offcanvasExample"><i class="bi bi-eye-fill"></i></button>
            <a href="{% url 'modificarCliente' cliente.pk %}" class="opcion"><i class="bi bi-pencil-square"></i></i></a>
            <button href="#" class="opcion"><i class="bi bi-trash"></i></button>
        </td>
    </tr>
{% endfor %}