{% for cliente in clientes %}
<tr>
  <td>{{ cliente.cuil }}</td>
  <td>{{ cliente.nombre }}</td>
  <td>{{ cliente.apellido }}</td>
  <td>{{ cliente.getTipo }}</td>
  <td>{{ cliente.getTipoPersona }}</td>
  <td>
    {% if cliente.activo %}
      <i class="bi bi-check-circle-fill text-success"> Activo</i>
    {% else %}
      <i class="bi bi-x-circle-fill text-danger"> Inactivo</i>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-sm btn-outline-primary me-1 btn-detalle"
            data-url="{% url 'detalleCliente' cliente.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles cliente">
      <i class="bi bi-eye"></i>
    </button>
    <a href="{% url 'modificarCliente' cliente.pk %}"
       class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar cliente">
      <i class="bi bi-pencil-square"></i>
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="0" class="text-center text-muted">No hay resultados</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endfor %}