{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% block cssGestion %}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title%}
    <h1>Clientes</h1>
    <h2>Gestion de clientes</h2>
    <a href="{% url 'altaCliente' %}" class="btn-agregarEntidad">Agregar Cliente</a>
{% endblock %}
{% block listado%}
    <div class="table-responsive rounded">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">CUIT/CUIL</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Email</th>
                    <th scope="col">Localidad</th>
                    <th scope="col">Tipo cliente</th>
                    <th scope="col">Tipo persona</th>
                </tr>
                </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr class="fila-tabla">
                        <td scope="row">{{ cliente.cuil }}</td>
                        <td scope="row">{{ cliente.nombre }}</td>
                        <td scope="row">{{ cliente.apellido }}</td>
                        <td scope="row">{{ cliente.telefono }}</td>
                        <td scope="row">{{ cliente.direccion }}</td>
                        <td scope="row">{{ cliente.email }}</td>
                        <td scope="row">{{ cliente.localidad.nombre }}</td>
                        <td scope="row">{{ cliente.tipo }}</td>
                        <td scope="row">{{ cliente.tipoPersona }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}