{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% block cssGestion %}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title%}
    <h1>Clientes</h1>
    <h2>Gestion de clientes</h2>
    <a href="{% url 'altaCliente' %}" class="btn-agregarEntidad">Agregar Cliente</a>
{% endblock %}
{% block listado%}
    <div class="table-responsive rounded">
        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th scope="col">CUIT/CUIL</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Tipo cliente</th>
                    <th scope="col">Tipo persona</th>
                    <th scope="col">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr class="fila-tabla">
                        <td scope="row">{{ cliente.cuil }}</td>
                        <td scope="row">{{ cliente.nombre }}</td>
                        <td scope="row">{{ cliente.apellido }}</td>
                        <td scope="row">{{ cliente.getTipo }}</td>
                        <td scope="row">{{ cliente.getTipoPersona }}</td>
                        <td scope="row">
                            <button href="#" class="opcion" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="bi bi-eye-fill"></i></button>
                            <a href="{% url 'modificarCliente' cliente.cuil %}" class="opcion"><i class="bi bi-pencil-square"></i></i></a>
                            <button href="#" class="opcion"><i class="bi bi-trash"></i></button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">Cliente:{{ cliente.nombre }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              
          </div>
    </div>
{% endblock %}