{% extends 'layouts/baseForm.html' %}
{% load static %}
{% block cssVista %}
    <link href="{% static 'css/insumo.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Insumo</h1>
    <h2 class="operacion">Alta Insumo</h2>
{% endblock %}
{% block formulario %}
    <div class="container container-form">
        <form method="POST" class="form" action='{% url "altaInsumo" %}'>
            {% csrf_token %}
            {{form}}
            <div class="input-group mb-3 info-formulario">
                <p>Agrega un insumo aquí. Dale click en agregar al terminar.</p>
            </div>
            <div class="input-group mb-3 operaciones">
                <button class="btn-Agregar" type="submit">
                    <span>Agregar</span>
                </button>
                <button class="btn-Cancelar">
                    <span>Cancelar</span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}