{% extends 'layouts/baseForm.html' %}
{% load static %}
{% block cssVista %}
    <link href="{% static 'css/insumo.css' %}" rel="stylesheet" />
{% endblock %}
{% block seccion-main %}
    {% block title %}
    <div class="container-Cabecera">
        <h1>Insumo</h1>
        <h2>Alta Insumo</h2>
    </div>
    {% endblock %}
    {% block formulario %}
    <div class="container-Form">
        <form action="POST" class="form">
            <div class="input-group mb-3">
                <p>Agrega un insumo aquí. Dale click en agregar al terminar.</p>
            </div>
            <div class="input-group mb-3">
                <input type="text"
                class="form-control"
                placeholder="Descripcion"
                aria-label="Descripcion"
                    aria-describedby="basic-addon1"> 
            </div>
            <div class="input-group mb-3">
                <input type="text"
                class="form-control"
                placeholder="Marca"
                aria-label="Marca"
                    aria-describedby="basic-addon1"> 
            </div>
            <div class="input-group mb-3">
                <label for="lang" class="txt-UniMed">Unidad de Medida</label>    
                <select 
                class="form-select"
                aria-label="Default select example">
                    <option selected>gr</option>
                    <option value="1"></option>
                </select>
            </div>
            <div class="input-group mb-3">
                <input type="number"
                class="form-control"
                placeholder="Contenido neto"
                aria-label="Contenido neto"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <input type="number"
                class="form-control"
                placeholder="Cantidad"
                aria-label="Cantidad"
                    aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <button class="btn-Agregar">
                    Agregar
                </button>
                <button class="btn-Cancelar">
                    Cancelar
                </button>
            </div>
        </form>
    </div>
    {% endblock %}

{% endblock %}
