{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
<h1 class="titulo">Maquinaria <span class="operacion">> Gestión Maquinarias</span></h1>
<a href="{% url 'altaMaquinaria' %}" class="btn-agregarEntidad"><i class="bi bi-plus-lg"></i> Agregar Maquinaria</a>
{% endblock %}
{% block listado %}
<!--<div class="container contenedor-tabla-form">
    <div class="container contenedor-filtrados">
        <form method="GET" action="{% url 'gestionMaquinaria' %}">
            <label for="id_estado" class="form-label">Estado</label>
            <div class="contenedor-select-btn">
                <select name="estado" id="estado" class="form-select form-select-sm form-select-filter">
                    {% for option in estados %}
                        <option value="{{ option }}" {% if option == request.GET.estado %} selected {% endif %}>{{ option }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn-filtrar">Filtrar</button>
            </div>
        </form>
    </div>
</div>-->
<div class="container contenedor-tabla">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="datatableEntity table dataTables table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Activa</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maquinaria in maquinarias %}
                            <tr class="fila-tabla">
                                <td scope="row">{{ maquinaria.nombre }}</td>
                                <td scope="row">{{ maquinaria.modelo }}</td>
                                <td scope="row">{{ maquinaria.marca }}</td>
                                <td scope="row">{{ maquinaria.cantidad }}</td>
                                {% if maquinaria.activo %}
                                    <td scope="row"><i class="bi bi-check-circle"></i></td>
                                {% else %}
                                    <td scope="row"><i class="bi bi-x-circle"></i></td>
                                {% endif %}
                                <td scope="row">
                                    <button href="{% url 'detalleMaquinaria' maquinaria.pk %}" class="opcion" type="button" 
                                        data-url="/gestionMaquinaria/{{maquinaria.pk}}"
                                        data-bs-toggle="offcanvas"
                                        data-bs-target="#offcanvasExample"
                                        aria-controls="offcanvasExample"><i class="bi bi-eye-fill"></i></button>
                                    <a href="{% url 'modificarMaquinaria' maquinaria.pk%}" class="opcion"><i class="bi bi-pencil-square"></i></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>
{% endblock %}

{% block extrajs %}{{block.super}}
   
{% endblock %}