{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
<h1 class="titulo">Maquinaria <span class="operacion">> Gestión Maquinarias</span></h1>
<a href="{% url 'altaMaquinaria' %}" class="btn-agregarEntidad"><i class="bi bi-plus-lg"></i> Agregar Maquinaria</a>
{% endblock %}
{% block listado %}
<div class="container contenedor-tabla">
    <div class="filters">
        <form method="GET" class="filtersForm">
            {% crispy form %}
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="datatableEntity table dataTables table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Modelo</th>
                            <th scope="col">Marca</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Activa</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody id="maquinariasList">
                        {% include 'maquinaria/maquinariasList.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>
{% endblock %}
{% block extrajs %}{{block.super}}
<script>
    $(document).ready(function() {
        $('.filtersForm').on('change', 'select', function() {
            $.ajax({
                url: $('.filtersForm').attr('action'),
                data: $('.filtersForm').serialize(),
                success: function(response) {
                    $('#maquinariasList').html(response.html);
                }
            });
        });
    });
</script>
{% endblock %}