{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1>Maquinarias</h1>
    <h2>Gestión de Maquinarias</h2>
    <a href="{% url 'altaMaquinaria' %}" class="btn-agregarEntidad">Registrar Maquinaria</a>
{% endblock %}
{% block listado %}
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Modelo</th>
            <th scope="col">Marca</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Activa</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        {% for maquinaria in maquinarias %}
            <tr class="fila-tabla">
                <td scope="row">{{ maquinaria.nombre }}</td>
                <td scope="row">{{ maquinaria.modelo }}</td>
                <td scope="row">{{ maquinaria.marca }}</td>
                <td scope="row">{{ maquinaria.cantidad }}</td>
                <td scope="row">{{ maquinaria.activo }}</td> 
                <td scope="row">
                    <button href="{% url 'detalleMaquinaria' maquinaria.pk %}" class="opcion" type="button" 
                        data-url="/gestionMaquinaria/{{maquinaria.pk}}"
                        data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasExample"
                        aria-controls="offcanvasExample"><i class="bi bi-eye-fill"></i></button>
                    <a href="{% url 'modificarMaquinaria' maquinaria.pk%}" class="opcion"><i class="bi bi-pencil-square"></i></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Maquinaria</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
    </div>
</div>
{% endblock %}

{% block extrajs %}{{block.super}}
   
{% endblock %}