{% for maquinaria in maquinarias %}
<tr>
  <td>{{ maquinaria.nombre }}</td>
  <td>{{ maquinaria.modelo }}</td>
  <td>{{ maquinaria.marca }}</td>
  <td>{{ maquinaria.cantidad }}</td>
  <td>
    {% if maquinaria.activo %}
    <i class="bi bi-check-circle-fill text-success"> Activa</i>
    {% else %}
    <i class="bi bi-x-circle-fill text-danger"> Inactiva</i>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-sm btn-outline-primary me-1 btn-detalle"
      data-url="{% url 'detalleMaquinaria' maquinaria.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles maquinaria">
      <i class="bi bi-eye"></i>
    </button>
    <a href="{% url 'modificarMaquinaria' maquinaria.pk %}" class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar maquinaria">
      <i class="bi bi-pencil-square"></i>
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td></td>
  <td></td>
    <td colspan="2" class="text-center text-muted">No hay resultados</td>
  <td></td>

  <td></td>
  <td></td>
</tr>
{% endfor %}