asgiref==3.7.2
Brotli==1.1.0
cffi==1.17.1
crispy-bootstrap5==0.7
cssselect2==0.8.0
Django==4.2.5
django-crispy-forms==2.0
django-localflavor==4.0
fonttools==4.58.1
pillow==11.2.1
pycparser==2.22
pydyf==0.11.0
pyphen==0.17.2
python-decouple==3.8
python-dotenv==1.0.0
python-stdnum==1.19
sqlparse==0.4.4
tinycss2==1.4.0
tinyhtml5==2.0.0
tzdata==2023.3
weasyprint==65.1
webencodings==0.5.1
zopfli==0.2.3.post1
