{% extends 'layouts/baseInicio.html' %}
{% load static %}
{% block extracss %}
    {{block.super}}
    <link href="{% static 'css/baseGestion.css' %}" rel="stylesheet"/>
{% endblock %}
{% block cssGestion %}
{% endblock %}
{% block seccion-main %}
        <div class="seccion-cabecera">
            {% block title %}
            {% endblock %}
        </div>
        <div class="secccion-listado"> 
            {% block listado %}
            {% endblock %}
        </div>
{% endblock %}

{% block extrajs %}{{block.super}}
            {% if messages %}
                {% for m in messages %}
                    <script>
                        var myToast = $.toast({
                            heading : 'Mr.Marston',
                            text: '{{m}}',
                            showHideTransition: 'fade',
                            position:'bottom-right',
                            stack: 4,
                            loader: false, 
                        })
                    </script>
                {% endfor %}
            {% endif %}
            {% endblock %}