{% extends 'layouts/baseInicio.html' %}
{% load static %}
{% block extracss %}
    <link href="{% static 'css/baseGestion.css' %}" rel="stylesheet"/>
{% endblock %}
{% block cssGestion %}
{% endblock %}
{% block seccion-main %}
        <div class="seccion-cabecera">
            {% block title %}
            {% endblock %}
        </div>
        <div class="secccion-listado"> 
            {% block listado %}
            {% endblock %}
            {% if messages %}
                {% for m in messages %}
                    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
                    <script src="{% static 'libs/jqueryToast/src/jquery.toast.js'%}"></script>
                    <script>
                        var myToast = $.toast({
                            heading : 'Mr.Marston',
                            text: '{{m}}',
                            showHideTransition: 'fade',
                            position:'bottom-right',
                            stack: 4,
                            loader: false, 
                        })
                    </script>
                {% endfor %}
            {% endif %}
        </div>
{% endblock %}