.container-main{
    display: flex;
    width: 100%;
    height: 100%;
}
.container-seccion-main{
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 50;
}
.nav-container{
    width: 60px;
    height: 100vh;
    border-right: 1px solid #505050;
    transition: all 0.3s ease-in-out;
}
.nav-container.expanded {
    width: 210px;
    display: flex;
    align-items: start ;
}
.sideBarExpand{
    width: 100%;
}
.sideBarExpand > ul > li > .nav-link{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding-inline: 10px;
}
.sideBarExpand > ul > li > #btn-toExpand{
    display: flex;
    justify-content: center;
}
.sideBarExpand > ul > li > .nav-link > .nav-item-span{
    display: block;
    font-size: 13px;
    font-weight: 700;
}
.nav-item{
    border-radius: 7px;
    position: relative;
}
.navbar{
    background-color: #000 !important;
    height: 100%;
    align-content: center;
}
.nav-link{
    width: 38px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.no-transition {
    transition: none;
}
.nav-link:hover{
    background-color: white;
    color: black;
}
.list-navbar{
    gap: 2px;
}
.container-btn-cerrar-sesion > button {
    width: 38px !important;
    height: 35px !important;
    background-color: #000;
    border: 1px solid #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 5px;
}
.cerrar-sesion-btn:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
.icono-sendaRC{
    color: white;
    font-weight:bold;
    font-size: 10px;
}
.active{
    background-color: white;
}
.active > a > i{
    color: #000;
}
.active > a > span{
    color: #000;
}

#btn-toExpand{
    background:none;
    color: #fff;
}

#btn-toExpand:hover{
    background: none;
}
/* Oculta el span por defecto */
.navbar .spanSideBarExpand {
    display: none;
}

/* Muestra el span cuando haces hover en el nav-item */
.navbar:not(.sideBarExpand) .nav-item:hover .spanSideBarExpand {
    display: block;  
    opacity: 1;
}

/* Estilos adicionales para el span cuando no hay sideBarExpand */
.navbar:not(.sideBarExpand) .spanSideBarExpand {
    position: absolute;
    top: 4px;
    z-index: 100;
    background-color: #00ff55;
    padding-inline: 14px;
    padding-block: 4px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    box-shadow: 0 0 10px #202020;
    left: 52px;
    width: max-content;
    color: #000;
}

.navbar:not(.sideBarExpand) .nav-item .nav-item-span {
    display: none;  
}
.bi-list{
    color: #fff !important;
}