.seccion-cabecera {
    color: #FFF;
    height: auto;
    padding-inline: 25px;
    padding-block: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #252527;
}

.titulo {
    font-size: 1.5rem;
    margin-bottom: 0 !important;
}

.operacion {
    font-size:0.9rem;
}
.secccion-listado{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.contenedor-tabla{
    padding-inline: 20px;
}


.datatableEntity th {
    color: #b1b1bd; 
    padding: 8px; 
    border-bottom: 1px solid #252527; 
    text-align: center !important; 
    font-size: 13px; 
}


.datatableEntity td {
    color: white; 
    padding: 8px; 
    text-align: center !important; 
    font-size: 13px; 
    font-family: 'InterMedium',sans-serif;
}


.datatableEntity tbody tr:hover {
    background-color: #161616 !important; 
}

.datatableEntity tbody tr {
    transition: all 0.1s ease-in-out;
}


.datatableEntity tbody tr:not(:last-child){
    border-bottom: 1px solid #252527; 
}


.datatableEntity {
    background-color: #0c0c0c;
    border-collapse: collapse; 
    border-radius: 5px; 
}

.light-mode .datatableEntity{
    background-color: #f3f3f3;
}

.light-mode .datatableEntity th{
    border-bottom: 1px solid #c7c7c7;
    color: #2e2e2e;
}

.light-mode .datatableEntity td{
    color: #050505;
}

.light-mode .datatableEntity tbody tr:not(:last-child){
    border-bottom: 1px solid #c7c7c7; 
}


.light-mode .datatableEntity tbody tr:hover {
    background-color: #fdfdfd !important; 
}

.seccion-cabecera > a{
    color: #000000;
    font-size: 13px;
    border-radius: 6px;
    text-decoration: none;
    padding-inline: 20px;
    padding-block: 10px;
    background-color: #ffffff;
    transition: all 0.1s ease-in-out;
}
.seccion-cabecera > a:hover{
    background-color: #c7c7c7;
    transform: scale(1.05);
}
.opcion{
    background: none;
    border: none;
    color: #fff;
}
.bi-check-circle{
    color: rgb(0, 207, 145);
}
.bi-x-circle{
    color: rgb(255, 42, 42);
}
.contenedor-tabla-form{
    margin-top: 40px;
    width: auto;
    position: relative;
}
.filters{
    padding-inline: 12px;
    font-size: 13px;
    width: max-content;
    display: flex;
    align-items: center;
    position: absolute;
    top: 85px;
}
.form-select-filter{
    width: auto !important;
    background-color: #fff !important; 
    color: #000 !important;
    border: 1px solid #fff !important;
    font-size: 12px;
}
.contenedorFiltersForm{
    display: flex;
    align-items: center;
    gap: 10px;
}
.contenedorFiltersForm > div{
    margin-bottom: 0px !important;
}
#div_id_estado,
#div_id_tipo_persona,
#div_id_tipo{
    margin-bottom: 0 !important;
}
.btn-filtrar{
    background-color: #1DA1F2;
    color: #fdfdfd;
    font-size: 12px;
    border-radius: 4px;
    border: none;
    transition: all .1s ease-in-out;
    height: 27px;
    padding: 0px 15px;
    margin-top:27px;
}
.btn-filtrar:hover{
    background-color: #1887cc;
}

.table-responsive{
    padding-inline:10px;
}

.form-control,.form-select{
    transition: all 0.1s ease-in-out;
}
.form-control{
    border: 1px solid #252527;
    background-color: #050505;
}
.light-mode div.dt-container div.dt-length label {
    color: #252527 !important;
}
.light-mode div.dt-container div.dt-info{
    color: #252527 !important;
}

.light-mode div.dt-container div.dt-search label{
    color: #252527 !important;
}