@font-face {
    font-family: 'InterBold';
    src: url('/static/fonts/Inter-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterExtraBold';
    src: url('/static/fonts/Inter-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'InterMedium';
    src: url('/static/fonts/Inter-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'InterThin';
    src: url('/static/fonts/Inter-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'InterRegular';
    src: url('/static/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InterSemiBold';
    src: url('/static/fonts/Inter-SemiBold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #fff !important;
    background-color: #050505;
    font-family: 'InterBold', sans-serif;
}
.form-text{
    color: #fff;
    font-size: 13px;
}

.invalid-feedback {
    font-size: 11px !important;
    margin-bottom: 0 !important
}
.nav-tabs {
    border-bottom: 1px solid #252527 !important;
}

/*MODO CLARO*/
.light-mode {
    background-color: #ffffff;
    color: #000;
}
.light-mode .nav-tabs {
    border-bottom: 1px solid #cfcfcf !important;
}

.light-mode .container-home {
    background: #ffffff;
    color: #000;
}

.light-mode .senda-brand {
    color: rgb(0, 81, 202);
}

.light-mode .badge-usuario {
    background-color: #adfa1d !important;
    color: #252527 !important;
}

.light-mode .wrapper-top>p {
    color: #18181d;
}

.light-mode .nav-container {
    border: 1px solid #e0e0e0;
}

.light-mode .navbar {
    background-color: #fff !important;
    color: #252527;
}

.light-mode .nav-link {
    color: #252527;
}

.light-mode .nav-link:hover {
    background-color: #09090b;
}

.light-mode #btn-toExpand {
    color: #252527;
}

.light-mode .card-home {
    background: transparent;
    border: 1px solid #aaaaaa;
}

.light-mode .card-home:hover{
    box-shadow: 0 0 20px #cfcfcf;
}

.light-mode .container-card:hover {
    background-color: #e7e7e7;
    cursor: pointer;
}

.light-mode .card-header {
    color: #252527;
    border-bottom: 1px solid #d3d3d3 !important;
}

.light-mode .card-text {
    color: #252527;
}

.light-mode .seccion-cabecera {
    color: #252527;
    border-bottom: 1px solid #cfcfcf;
}

.light-mode .seccion-cabecera > a{
    border: 1px solid #09090b;
    background-color: #09090b;
    color: #ffffff;
}

.light-mode .seccion-cabecera > a:hover {
    background-color: #252527;
    border: 1px solid #252527;
}

.light-mode .form-select-filter {
    background-color: #ffffff !important;
    color: #252527 !important;
    border: 1px solid #d3d3d3 !important;
}

.light-mode .bi-check-circle {
    color: rgb(0, 139, 98);
}

.light-mode .bi-x-circle {
    color: rgb(255, 42, 42);
}

.light-mode .btn-filtrar {
    background-color: rgb(0, 81, 202);
}

.light-mode .btn-filtrar:hover {
    background-color: rgb(0, 60, 150);
}

.light-mode .form-label {
    color: #252527;
}

.light-mode .opcion {
    color: #252527;
}

.light-mode .form-control {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    color: #252527 !important;
}

.light-mode .offcanvas {
    background-color: #fff;
    color: #252527;
    border: 1px solid #cfcfcf;
}

.light-mode .btn-accion-detalle {
    background-color: #09090b;
    border: 1px solid #09090b;
    color: #ffffff;
}

.light-mode .btn-accion-detalle:hover {
    border: 1px solid #252527;
    background-color: #252527;
    color: #ffffff;
}

.light-mode .offcanvas-backdrop {
    background-color: #818181;
}

.light-mode .cerrar-sesion-btn {
    background-color: #09090b;
    border: 1px solid #09090b;
    font-weight: 600;
    color: #ffffff;
}

.light-mode .cerrar-sesion-btn:hover {
    background-color: #17171d;
    color: #ffffff;
}

.light-mode #bd-theme {
    background-color: #09090b;
}

.light-mode #bd-theme>i {
    color: #fff;
}

.light-mode #bd-theme:hover {
    background-color: #17171d;
}

.light-mode #bd-theme:active {
    background-color: #09090b;
    color: #fff;
}

.light-mode .dropdown-menuColor {
    background-color: #09090b;
}

.light-mode .colorMode-item {
    color: #fff;
}

.light-mode .colorMode-item:hover {
    background-color: #19191f;
    color: #fff;
}

.light-mode .dropdown-item.active {
    background-color: #19191f;
    color: #fff;
}

.bi-moon-stars {
    color: #000;
}

.light-mode .container-form {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    box-shadow: 0 0 10px #dfdfdf;
}

.light-mode .container-form>form {
    background-color: #fff;
}

.light-mode .operaciones {
    background-color: #fff;
}


.light-mode .form-select {
    background-color: #fff;
    border: 1px solid #cfcfcf;
    color: #252527;
}

.light-mode .info-formulario {
    color: #252527;
}

.light-mode .form-check-label {
    color: #252527;
}

.light-mode .select2-selection--multiple {
    background-color: #fff !important;
    border: 1px solid #cfcfcf !important;
    color: #252527 !important;
}

.light-mode .form-floating>label {
    color: #4d4d4d !important;
}

.light-mode .btn-Cancelar {
    background-color: rgb(0, 81, 202);
}

.light-mode .btn-Guardar {
    background-color: rgb(0, 81, 202);
}

.light-mode .btn-Guardar:active {
    background-color: rgb(0, 60, 150) !important;
    color: #fff;
}

.light-mode .btn-Guardar:hover {
    background-color: rgb(0, 60, 150);
}

.light-mode .btn-Cancelar:active {
    background-color: rgb(0, 60, 150) !important;
    color: #fff;
}

.light-mode .btn-Cancelar:hover {
    background-color: rgb(0, 60, 150);
}

.light-mode .accion {
    background-color: rgb(0, 81, 202);
}

.light-mode .accion:active {
    background-color: rgb(0, 60, 150) !important;
}

.light-mode .accion:hover {
    background-color: rgb(0, 60, 150);
}

.light-mode .form-frecuencia {
    border-bottom: 1px solid #cfcfcf;
}

.light-mode .form-servicio {
    border-bottom: 1px solid #cfcfcf;
}

.light-mode .contenedor-header-form-set {
    border-bottom: 1px solid #cfcfcf;
}

.light-mode .contenedor-header-form-set>div>h1 {
    color: #252527;
}

.light-mode .texto-TipoPresupuesto {
    color: #252527;
}

.light-mode .container-hora>h6 {
    color: #252527;
}

.light-mode .bi-clock {
    color: rgb(0, 81, 202);
}

@keyframes destelloLightMode {
    0% {
        background-color: #cfcfcf;
    }

    100% {
        background-color: transparent;
    }
}

.light-mode .destello {
    animation: destelloLightMode 1s ease;
}

.light-mode .container-autenticacion {
    background-color: #fff;
}

.light-mode .ancor-ver-servicio-detalle {
    background-color: #09090b;
    color: #fff;
}

.light-mode .ancor-ver-servicio-detalle:hover {
    background-color: #252525;
    color: #fff;
}

.light-mode .ancors-detalle {
    color: #252527;
}

.light-mode .ancors-detalle:hover {
    background-color: #09090b;
    color: #fff;
}

.light-mode .texto {
    color: #000;
}

.light-mode .confirmar-presupuesto {
    background-color: #09090b;
    color: #fff;
}

.light-mode .confirmar-presupuesto:hover {
    background-color: #202027;
    color: #fff;
}

.light-mode #titulo-CheckOutPresupuesto {
    color: #252527;
}

.light-mode .active {
    background-color: #09090b !important;
    color: #fff !important;
}

.light-mode .spanSideBarExpand {
    background-color: #09090b !important;
}

.light-mode .titulo-formset {
    color: #252527;
}

.light-mode .titulo-checkoutServicios {
    color: #252527 !important;
}

.light-mode .contenedor-info-imprimir>h1 {
    color: #252527;
}

.light-mode .contenedor-info-imprimir>h1 {
    color: #252527;
}

.light-mode .contenedor-acciones-imprimir>a {
    color: #252527;
}

.light-mode .form-control:focus {
    color: #252527;
}

.light-mode .form-select:focus {
    color: #252527;
}

.light-mode .totalServicicioFrecuencia {
    color: #252527 !important;
}

.light-mode hr {
    color: #050505;
}

.light-mode .list-group {
    border: 1px solid #fff;
    border-radius: 6px;
}

.light-mode .list-group-item {
    background-color: #fff;
    color: #252527;
    border: 1px solid #cfcfcf;
}

.light-mode .list-group-item>div>small {
    color: #252527 !important;
}

.light-mode .list-group-item>span {
    color: #252527 !important;
}

#bd-theme i {
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
}

#bd-theme i.bi-brightness-high {
    opacity: 0.7;
    transform: translateY(0);
}

.form-control:focus,
.form-select:focus {
    outline: 4px solid #1887cc;
    color: #FFF;
}
