.seccion-cabecera{  
    color: #FFF;
    width: 100%;
    height: 12%;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.seccion-cabecera > h1{  
    font-size: 1.5rem;
    font-weight: 600;
}
.seccion-cabecera > h2{  
    font-size: 0.8rem;
    font-weight: 600;
}
.secccion-form{
    height: 88%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-form{
    color: #fff;
    border: 1px solid #505050;
    padding: 20px;
    width: auto;
    border-radius: 12px;
}
.container-form > form{
    color: #FFF;
    background-color: black;
    max-height: 474px;
}
.form-control, .form-select{
    width: 30px; 
    height: 40px; 
    background-color: #0c0c0c;
    color: #FFF;
    font-size: 14px; 
    border: none;
    border-radius: 6px !important;
}

.form-control:focus, .form-select:focus{
    background-color: black;
    border: 1px solid #FFF;
    color: #FFF;
}

.form-control::placeholder{
    color: #505050;
}

.operaciones{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: end;
    gap: 8px;
}
.operaciones > button{
    background-color: #000;
    color: #FFF;
    border: 1px solid #505050;
    border-radius: 8px !important;
    padding-inline: 20px;
}
.btn-Agregar, .btn-Cancelar > span{
    font-size: 13px;
}
.btn-Agregar:hover, .btn-Cancelar:hover{
    filter: brightness(80%);
}