.atajo-link{
    text-decoration: none;
}
.container-home{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.container-tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    height: 199px;
    z-index: 30;
}
.logo-senda-svg{
    z-index: 40;
}
.card{
    background-color: black !important;
    border:1px solid #505050 ;
    border-radius: 15px !important;
    max-height: 100%;
    overflow: hidden;
    text-overflow: clip;
    min-height: 100%;
}
.card:hover{
    cursor: pointer;
    background-color: #080808 !important;
}
.card-header{
    font-size: 40px;
}
.icono-tarjeta{
    padding-inline: 10px;
    border-radius: 5px;
    border: 1px solid #505050;
}
.card-body{
    padding-top: 0;
    padding-bottom: 1rem;
}
.card-text{
    font-size: 12px;
}


@media (max-width: 950px) {
    .container-home > svg{
        display: none;
    }
    .container-tarjetas{
        display: block;
        height: 198px;
        top: 10px;
        position: absolute;
    }
}