/* CSS */
.imagen-senda {
    position: relative; /* Puedes cambiar a 'absolute', 'fixed' o 'sticky' según tus necesidades */
    top: 1px; /* Distancia desde el borde superior del elemento contenedor */
    left: 900px; /* Distancia desde el borde izquierdo del elemento contenedor */
    width: 150px; /* Ancho de la imagen */
    height: 70px; /* Alto de la imagen */
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #999;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}