{% extends 'layouts/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/autenticacion.css' %}" rel="stylesheet" />
{% endblock %} {% block container %}
<main class="container-AutenticacionHeader">
  <header class="header-autenticacion">
    <h1><a href="{% url 'login' %}" style="text-decoration: none; color: #ffffff; transition: color 0.2s ease-in-out;" onmouseover="this.style.color='#1887cc'" onmouseout="this.style.color='#ffffff'">SendaRC</a></h1>
  </header>
  <section class="heroAutenticacion">
    <p style="font-size: 30px;">Te hemos enviado un correo electrónico con un enlace para restablecer la contraseña 📧</p>
  </section>
</main>
{% endblock %}