{% extends 'layouts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/autenticacion.css' %}" rel="stylesheet" />
{% endblock %}
{% block container %}
<main class="container-AutenticacionHeader">
    <header class="header-autenticacion">
        <h1><a href="{% url 'login' %}" style="text-decoration: none; color: #ffffff; transition: color 0.2s ease-in-out;" onmouseover="this.style.color='#1887cc'" onmouseout="this.style.color='#ffffff'">SendaRC</a></h1>
        <a href="{% url 'login' %}">Iniciar Sesión</a>
    </header>
    <section class="heroAutenticacion"> 
        <form method="POST" action="" id="form-login" style="background-color: #050505;border: 1px solid #252527; padding: 50px; border-radius: 6px; width: 800px;">
            <h1>Registrarse 📝</h1>
            {% csrf_token %}
            {{ form | crispy }}
            <div class="container-login-buttons">
                <button type="submit" href="{% url 'register' %}" class="login-btn btn btn-primary">Crear cuenta</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}
