{% for empleado in empleados %}
<tr>
  <td>{{ empleado.pk }}</td>
  <td>{{ empleado.numDNI }}</td>
  <td>{{ empleado.nombre }}</td>
  <td>{{ empleado.apellido }}</td>
  <td>{{ empleado.telefono }}</td>
  <td>
    {% if empleado.activo %}
    <i class="bi bi-check-circle-fill text-success"> Activo</i>
    {% else %}
    <i class="bi bi-x-circle-fill text-danger"> Inactivo</i>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-sm btn-outline-primary me-1 btn-detalle" data-url="{% url 'detalleEmpleado' empleado.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles empleado">
      <i class="bi bi-eye"></i>
    </button>
    <a href="{% url 'modificarEmpleado' empleado.pk %}" class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar empleado">
      <i class="bi bi-pencil-square"></i>
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td></td>
  <td></td>
  <td></td>
  <td colspan="0" class="text-center text-muted">No hay resultados</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endfor %}