{% for reclamo in reclamos %}
<tr>
    <td>{{ reclamo.id }}</td>
    <td>{{ reclamo.fecha_reclamo|date:"d/m/Y" }}</td>
    <td>{{ reclamo.servicio.cliente.nombre }} {{ reclamo.servicio.cliente.apellido }} - {{ reclamo.servicio.direccion }}</td>
    <td>
      <button class="btn btn-sm btn-outline-primary me-1 btn-detalle"  data-url="{% url 'detalleReclamo' reclamo.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles del reclamo">
          <i class="bi bi-eye"></i>
      </button>
    </td>
</tr>
{% empty %}
<tr>
    <td></td>
    <td></td>
    <td colspan="0" class="text-center">No hay reclamos registrados</td>
    <td></td>
    <td></td>
</tr>
{% endfor %}