{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
<h1>Sancion</h1>
<p>Registro de Sanciones a Empleados</p>
{% endblock %}
{% block titleNavegador %}SendaRC - Registro de Sanciones{% endblock %}
{% block formulario %}
<div class="container container-form">
    {% crispy form %}
</div>
{% endblock %}
{% block extrajs %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const tipoField = document.getElementById('id_tipo');
        const diasField = document.getElementById('id_diasSuspension'); // Campo de días de suspensión
        const diasContainer = document.querySelector('.dias-suspension-container'); // Contenedor del campo
        const diasLabel = document.querySelector('.dias-suspension-label'); // Etiqueta del campo

        function toggleDiasField() {
            // Verifica si el valor seleccionado es "2" (Suspensión)
            if (parseInt(tipoField.value) === 2) {
                diasContainer.style.display = 'block'; // Muestra el contenedor
                diasLabel.style.display = 'block'; // Muestra la etiqueta
                diasField.style.display = 'block'; // Asegura que el campo sea visible
            } else {
                diasContainer.style.display = 'none'; // Oculta el contenedor
                diasLabel.style.display = 'none'; // Oculta la etiqueta
                diasField.style.display = 'none'; // Oculta el campo
                diasField.value = ''; // Limpia el valor del campo
            }
        }

        // Llama a la función al cargar la página y al cambiar el valor del campo
        tipoField.addEventListener('change', toggleDiasField);
        toggleDiasField();
    });
</script>
{% endblock %}
