{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/formsChicos.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Generar Factura Seña de Servicio</h1>
    <div class="container-info">
        <h2 class="operacion">Factura Generada - Cliente Ocasional</h2>
    </div>
{% endblock %}
{% block formulario %}
    <div class="container" style="color: white;">
        <h1>Detalles de la factura seña de servicio</h1>
        <p>Cliente: {{factura_seña.cliente.apellido}} {{factura_seña.cliente.nombre}}
        <p>Cuil: {{factura_seña.cliente.cuil}}
        <p>Importe total del servicio: ${{factura_seña.servicio.importe_total}}
        <h1>Importe Seña: ${{factura_seña.importe}}</h1>
    </div>
    <div class="container container-form">
        <a class="btn btn-primary" href="{% url 'realizarCobroFacturaSeña' pk=factura_seña.pk %}">Realizar Cobro</a>
    </div>
{% endblock %}