{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}
{% block title%}
<h1 class="titulo">Facturas <span class="operacion">> Servicios a Facturar</span></h1>
<a href="#" class="btn-agregarEntidad" style="visibility: hidden;"><i class="bi bi-plus-lg"></i> fakeBoton</a>
{% endblock %}
{% block listado%}
<div class="container contenedor-tabla">
    <div class="filters">
        <form method="GET" action="{% url 'serviciosFacturar' %}">
            {% crispy form %}
        </form>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="table-responsive">
                <table class="datatableEntity table dataTables table-hover" id="tabla-servicios-facturar">
                    <thead>
                        <tr>
                            <th scope="col">N.Servicio</th>
                            <th scope="col">Cliente</th>
                            <th scope="col">Metros cuadrados</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Total</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if servicios %}
                            {% for servicio in servicios %}
                                <tr class="fila-tabla">
                                    <td scope="row">{{ servicio.pk }}</td>
                                    <td scope="row">{{ servicio.cliente.nombre }} {{ servicio.cliente.apellido }}</td>
                                    <td scope="row">{{ servicio.metros2 }}m²</td>
                                    <td scope="row">{{ servicio.getTipo }}</td>
                                    <td scope="row">{{ servicio.getEstado }}</td>
                                    <td scope="row">{{ servicio.getImporteTotalFormateado }}</td>
                                    <td scope="row">
                                        <button href="{% url 'detalleServicioFactura' servicio.pk %}" class="opcion"
                                            type="button" data-url="/factura/serviciosCobrar/{{servicio.pk}}"
                                            data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                                            aria-controls="offcanvasExample"><i class="bi bi-eye-fill"></i></button>
                                        <a href="{% url 'generarFactura' servicio.pk %}" class="opcion">Facturar</a>
                                    </td>

                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i
                        class="bi bi-x-lg"></i></button>
            </div>
            <div class="offcanvas-body">
            </div>
        </div>
        {% endblock %}
        {% block extrajs %}
{% endblock %}