{% load static %}
{% block detalle %}
<link href="{%static 'css/detalles.css' %}" rel="stylesheet" />
<div class="container">
    <div class="container-detalles">
        <h1 class="titulo-detalle"><i class="bi bi-clipboard"></i> Servicio: #{{servicio.pk}}</h1>
        <div class="divisor"></div>
        <p class="detalles"><i class="bi bi-person"></i> Cliente: <span style="font-family: 'InterRegular', serif;">{{servicio.cliente.nombre}} {{servicio.cliente.apellido}}</span></p>
        <p class="detalles"><i class="bi bi-geo-alt"></i> Localidad: <span style="font-family: 'InterRegular', serif;">{{servicio.getLocalidad}}</span></p>
        <p class="detalles"><i class="bi bi-houses"></i> Dirección: <span style="font-family: 'InterRegular', serif;">{{servicio.direccion}}</span></p>
        <p class="detalles"><i class="bi bi-border-all"></i> Metros cuadrados: <span style="font-family: 'InterRegular', serif;">{{servicio.metros2}}m²</span></p>
        <p class="detalles"><i class="bi bi-truck"></i> Tipo de servicio: <span style="font-family: 'InterRegular', serif;">{{servicio.getTipo}}</span></p>
        <p class="detalles"><i class="bi bi-exclamation-circle"></i> Estado de servicio: <span style="font-family: 'InterRegular', serif;">{{servicio.getEstado}}</span></p>
        <p class="detalles"><i class="bi bi-calendar-date"></i> Fecha de emisión: <span style="font-family: 'InterRegular', serif;">{{servicio.fecha_emision|date:"d-m-Y"}}</span></p>
        <p class="detalles"><i class="bi bi-calendar2-x"></i> Fecha de inicio: <span style="font-family: 'InterRegular', serif;">{{servicio.fecha_inicio|date:"d-m-Y"}}</span></p>
        <p class="detalles"><i class="bi bi-calendar-day"></i> Plazo de vigencia: <span style="font-family: 'InterRegular', serif;">{{servicio.plazo_vigencia|date:"d-m-Y"}}</span></p>
        {% if servicio.getEstado == "Finalizado" %}
            <p class="detalles"><i class="bi bi-calendar2-x"></i> Fecha de finalización: <span style="font-family: 'InterRegular', serif;">{{servicio.fecha_finaliza}}</span></p>
        {% endif %}
        {% if servicio.getEstado == "Cancelado" %}
         <p class="detalles"><i class="bi bi-calendar-x"></i> Fecha de cancelación: <span style="font-family: 'InterRegular', serif;">{{servicio.fecha_cancelada}}</span></p>
        {% endif %}
        <p class="detalles"><i class="bi bi-person-walking"></i> Cantidad de empleados: <span style="font-family: 'InterRegular', serif;">{{servicio.cant_empleados}}</span></p>
        <div class="divisor"></div>
        <div class="contenedor-importe-ver-detalle">
            <a href="{% url 'detalleServicio' servicio.pk %}" class="ancor-ver-servicio-detalle"><i class="bi bi-eye"></i> Ver completo</a>
            <p class="detalles">Total: {{servicio.getImporteTotalFormateado}}</p>
        </div>
        <div class="container-ancors">
            {% if servicio.getEstado == "Presupuestado" %}
            <a href="{% url 'contratarServicio' servicio.pk %}" class="ancors-detalle"><i class="bi bi-check-lg"></i> Contratar</a>
            {% endif %}
            {% if servicio.getEstado != "Vencido" %}
                <a href="#" class="ancors-detalle"><i class="bi bi-ban"></i> Cancelar</a>
            {% endif %}
            <a href="#" class="ancors-detalle"><i class="bi bi-printer"></i> Imprimir</a>
        </div>
    </div>
</div>
{% endblock %}