{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/imprimirVista.css'%}" rel="stylesheet"/>
{% endblock %}
{% block title %}
    <div class="container-info">
        
    </div>
{% endblock %}
{% block formulario %}
    <div class="container contenedor-imprimir">
        <div class="container contenedor-info-imprimir">
            <h1>Servicio contratado correctamente</h1>
        </div>
        <div class="container contenedor-acciones-imprimir">
            <a href="{% url 'asignarEmpleados' servicio.pk %}">Asignar Empleados</a>
            <a href="{% url 'home' %}">Ir a Home</a>
        </div>
    </div>
{% endblock %}