{% extends 'layouts/baseInicio.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/baseForm.css'%}" rel="stylesheet" />
    <link href="{%static 'css/opciones.css'%}" rel="stylesheet" />
{% endblock %}
{% block seccion-main %}
        <div class="seccion-cabecera">
            <h1 class="titulo">Contratacion de Servicio</h1>
            <h2 class="operacion">Contratacion finalizada / Numero de servicio: #{{servicio.nroservicio}}</h2>
        </div>
        <div class="secccion-container"> 
                <div class="subheader">
                    <h2>Seleccione opcion...</h2>
                    <h3>Finalizado el proceso de contratacion, todos sus datos han sido guardados.. Eliga como seguir</h2>
                </div>
                <div class="opciones">
                    <button type="button" class="Opcion">
                        <h1>Generar Factura de Seña</h1>
                        <h4>Finalizado el proceso de contratacion de servicio. Seras redireccionado a la pagina de inicio</h4>
                    </button>
                    <button type="button" class="Opcion">
                        <h1>Generar Factura</h1>
                        <h4>Genere la factura de pago si el cliente decide pagar en este momento el servicio. Seras redireccionado a la generacion de factiras.</h4>
                    </button>
                    <button type="button" class="Opcion">
                        <h1>Finalizar Proceso</h1>
                        <h4>Finalizado el proceso de contratacion de servicio. Seras redireccionado a la pagina de inicio</h4>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}