{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{%static 'css/servicio.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
<h1 class="titulo">Gestión de Servicios<span class="operacion"> > Servicio / {{servicio.cliente.nombre}}
        {{servicio.cliente.apellido}}</span></h1>
{% endblock %}
{% block formulario %}
<div class="contenedorDetalleServicio"> 
    <section class="tablasServicio">
        <div class="tablasServicioContainer">
            <ul class="opcionesTablasServicio" id="opcionesDetalleServicio">
                <li class="liOpcionesTablasServicio">
                    <a class="linkOpcionesTablasServicio" style="width: auto; display: flex; gap:5px;" aria-current="page" href="#"
                        data-lista="tablaTiposServicios">Tipos
                        de Servicios <span class="badge bg-primary rounded-pill" id="servicios-badge"></span></a>
                </li>
                <li class="liOpcionesTablasServicio">
                    <a class="linkOpcionesTablasServicio" style="width: auto; display: flex; gap:5px;" href="#"
                        data-lista="tablaFrecuencias">Frecuencias <span class="badge bg-primary rounded-pill" id="frecuencias-badge"></span></a>
                </li>
                {% if servicio.getEstado != "Presupuestado" %}
                    <li class="liOpcionesTablasServicio">
                        <a class="linkOpcionesTablasServicio" style="width: auto; display: flex; gap:5px;" href="#"
                            data-lista="tablaEmpleados">Empleados <span class="badge bg-primary rounded-pill"></span></a>
                    </li>
                {% endif %}
            </ul>
            <table class="tablaServicio table table-hover" id="tablaTiposServicios">
                <thead>
                    <tr>
                        <th scope="col">Descripción</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in tipoServicios %}
                        <tr class="fila-tabla">
                            <td scope="row">{{ t.tipoServicio.descripcion }}</td>
                            <td scope="row">{{ t.cantidad }}</td>
                            <td scope="row">{{ t.tipoServicio.getPrecioFormateado }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <table class="tablaServicio table table-hover" id="tablaFrecuencias">
                <thead>
                    <tr>
                        <th scope="col">Día</th>
                        <th scope="col">Turno</th>
                    </tr>
                </thead>
                <tbody>
                    {% for f in frecuencias %}
                        <tr class="fila-tabla">
                            <td scope="row">{{ f.getDia }}</td>
                            <td scope="row">{{ f.getTurno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if servicio.getEstado != "Presupuestado" %}
                <table class="tablaServicio table table-hover" id="tablaEmpleados">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y Apellido</th>
                            <th scope="col">Sueldo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for e in empleados %}
                            <tr class="fila-tabla">
                                <td scope="row">{{ e.nombre }} {{ e.apellido }}</td>
                                <td scope="row">{{ e.getSueldoFormateado }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
    <section class="infoServicioDetalle">
        <h5 class="mb-2" style="font-family: 'InterSemiBold',sans-serif;">Servicio #{{ servicio.pk }}</h5>
        <p class="texto">Fecha Emisión: <span class="datoCliente">{{servicio.fecha_emision}}</span></p>
        <hr class="my-3">
        <h6 class="mb-2" style="font-family: 'InterSemiBold',sans-serif;">Cliente Información</h6>
        <div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto datosCliente">Cliente</p>
                <span class="datoServicio">{{servicio.cliente.nombre}} {{servicio.cliente.apellido}}</span>
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">CUIT/CUIL</p>
                <span class="datoServicio">{{servicio.cliente.cuil}}</span>
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Email</p>
                <span class="datoServicio">{{servicio.cliente.email}}</span>
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Telefono</p>
                <span class="datoServicio">{{servicio.cliente.telefono}}</span>
            </div>
        </div>
        <hr class="my-3">
        <h6 class="mb-2" style="font-family: 'InterSemiBold',sans-serif;">Inmueble Información</h6>
        <div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Dirección Inmueble</p>
                <span class="datoServicio">{{servicio.direccion}}</span>
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Metros cuadrados Inmueble</p>
                <span class="datoServicio">{{servicio.metros2}}m²</span>
            </div>
        </div>
        <hr class="my-3">
        <h6 class="mb-2" style="font-family: 'InterSemiBold',sans-serif;">Servicio Información</h6>
        <div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Tipo Servicio</p>
                <span class="datoServicio">{{servicio.getTipo}}</span> 
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Estado</p>
                <span class="datoServicio">{{servicio.getEstado}}</span> 
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Plazo Vigencia</p>
                <span class="datoServicio">{{servicio.plazo_vigencia}}</span> 
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto datosCliente">Total Servicios</p>
                <span class="datoServicio">{{ servicio.getImporteTotalServicios }}</span> 
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Total Servicios * Frecuencias</p>
                <span class="datoServicio">{{ servicio.getSubtotalServiciosFrecuencias }}</span>   
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Mano de Obra</p>
                <span class="datoServicio">{{ servicio.getSubtotalEmpleados }}</span> 
            </div>
            <div class="miniContenedorDetalleServicio">
                <p class="texto">Ganancia 15%</p>
                <span class="datoServicio">revisar este porcentaje</span> 
            </div>
            {% if servicio.tipo == 1 %}
                <div class="miniContenedorDetalleServicio totalFinalServicio">
                    <p class="texto titleTotal">Total Servicio Completo(ARS)</p>
                    <span class="datoServicio totalSpan">{{ servicio.getImporteTotalFormateado }}</span> 
                </div>
            {% else %}
                <div class="miniContenedorDetalleServicio totalFinalServicio">
                    <p class="texto">Total Servicio Mensual(ARS)</p>
                    <span class="datoServicio">{{ servicio.getImporteTotalFormateado }}</span> 
                </div>
            {% endif %}
        </div>       
    </section>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(() => {
        $('#opcionesDetalleServicio a').on('click', function (e) {
            e.preventDefault();

            // Obtener el id de la lista correspondiente
            const listaId = $(this).data('lista');
            console.log(listaId)

            // Ocultar todas las listas y luego mostrar la lista seleccionada
            $('#tablaTiposServicios,#tablaFrecuencias,#tablaEmpleados').hide();
            $('#' + listaId).show();

            // Agregar la clase 'active' al enlace clicado y eliminarla de los demás
            $('#opcionesDetalleServicio a').removeClass('active');
            $(this).addClass('active');
        });

        // Simular clic en el enlace "Tipos de Servicios" al cargar la página
        $('#opcionesDetalleServicio a[data-lista="tablaTiposServicios"]').click();
    });
</script>
{% endblock %}