{% extends 'layouts/baseGestion.html' %}
{% load static %}
{% block extracss %}{{block.super}}
<link href="{% static 'css/baseGestion.css' %}" rel="stylesheet" />
{% endblock %}

{% block title%}
{% endblock %}

{% block listado%}
    <h1 style="color: white;">EN PROCESO...</h1>
    <div class="tenor-gif-embed" data-postid="17176906" data-share-method="host" data-aspect-ratio="1.40969" data-width="40%"><a href="https://tenor.com/view/the-simpsons-homer-simpson-punch-sleeping-gif-17176906">The Simpsons Homer Simpson GIF</a>from <a href="https://tenor.com/search/the+simpsons-gifs">The Simpsons GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{% endblock %}