{% load static %}
{% block extracss %}
<head>
<link rel="stylesheet" href="{% static 'css/imprimir.css' %}">
<h1>Presupuesto N° {{ servicio.pk }}</h1> <img src="{% static 'images/senda.png' %}" class="imagen-senda">
<button id="print-button">Imprimir</button>
</head>
<script>
    document.getElementById("print-button").addEventListener("click", function() {
        window.print();
    });
</script>
{% endblock %}


{% block listado%}
<body>
    <hr>
        <h6>Velero Mimosa 152 Esq. Pje. Santiago del Estero - Tel (280)420866 - C.P. 9100 - Trelew Chubut<h6>
        <h6>Dante Brozzi 830 - (280)451069 - Esquel - e-mail: senda@cpsarg.com - www.sendaservicios.com.ar<h6>
    <hr>
    <h4>Datos del Cliente</h4>
    <table>
        <thead>
            <tr>
            <th scope="row">Cliente</th>
            <th scope="row">Cuil/Cuit</th>
            <th scope="row">Telefono</th>
            <th scope="row">E-mail</th>
            </tr>
        </thead>
        <thead>
            <tr>
            <td scope="row">{{ servicio.cliente.nombre}} {{servicio.cliente.apellido}}</td>
            <td scope="row">{{ servicio.cliente.cuil}}</td>
            <td scope="row">{{ servicio.cliente.telefono}}</td>
            <td scope="row">{{ servicio.cliente.email}}</td>
            </tr>
        </thead>
    </table>
    <hr>
    <h4>Datos del Servicio</h4>
    <table>
        <thead>
            <tr>
            <th scope="row">N° Servicio</th>
            <th scope="row">Fecha Emision</th>
            <th scope="row">Fecha de Vencimiento</th>
            <th scope="row">Tipo</th>
            </tr>
        </thead>
        <thead>
            <tr>
            <td scope="row">{{ servicio.pk }}</td>
            <td scope="row">{{ servicio.fecha_emision}}</td>
            <td scope="row">{{ servicio.plazo_vigencia }}</td>
            <td scope="row">{{ servicio.getTipo }}</td>
            </tr>
        </thead>
    </table>
    <hr>
    {% endblock %}
    <table>
        <thead>
            <h4>Tipo de Servicio</h4>
            <th scope="row">Tipo de Servicio</th>
            <th scope="row">Cantidad</th>
            <th scope="row">Unidad de Medida</th>
            <th scope="row">Precio</th>
            <th scope="row">Total</th>
            </tr>
        </thead>
        <thead>
            {% for tipoServicio in tipoServicios %}
                <td scope="row">{{tipoServicio.tipoServicio.descripcion}}</td>
                <td scope="row">{{tipoServicio.cantidad}}</td>
                <td scope="row">{{tipoServicio.tipoServicio.getUnidadMedida}}</td>
                <td scope="row">{{tipoServicio.tipoServicio.getPrecioFormateado}}</td>
                <td scope="row">$ {{tipoServicio.getPrecio}}</td>
                </tr>
            {% endfor %}
        </thead>
    </table>
    <table>
        <thead>
            <h4>Frecuencia</h4>
            <th scope="row">Dia</th>
            <th scope="row">Turno</th>
            </tr>
        </thead>
        <thead>
            {% for frecuencia in frecuencias %}
                <td scope="row">{{frecuencia.getDia}}</td>
                <td scope="row">{{frecuencia.getTurno}}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>
    <br>
    <h4>Subtotal Tipo Servicio $ {{ subtotal }}.</h4>
    <h4>Importe Total <a id="periodo"></a> {{ servicio.getImporteTotalFormateado }}</h4>
    <script>
        var tipo = "{{ servicio.tipo }}"; 
        var periodo;
        if (tipo == "2") {
          periodo = "Servicio Mensual :";
        } else if (tipo == "1") {
            periodo = "Servicio Completo :";
        } 
        document.getElementById("periodo").innerHTML = periodo;
    </script>
    <br>
    <p>Saludamos a uds. muy atentamente</p>
    <p>SENDA SRL</p>
</tbody>