{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{%static 'css/presConfirmar.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
<h1 class="titulo">Presupuestar Servicio</h1>
<div class="container-info">
    <h2 class="operacion">Resumen de presupuesto / {{presupuesto.cliente.nombre}} {{presupuesto.cliente.apellido}}</h2>
</div>
{% endblock %}
{% block formulario %}
<div class="container contenedor-resumen">
    <div class="contenedor-info-form">
        <div class="contenedor-header">
            <div class="seccion-info-cliente">
                <div class="contenedor-textos">
                    <h4>Datos personales Presupuesto:</h4>
                    <p class="operacion">Cliente: {{presupuesto.cliente.nombre}} {{presupuesto.cliente.apellido}}</p>
                    <p class="operacion">Cuit/Cuil: {{presupuesto.cliente.cuil}}</p>
                    <p class="operacion">Direccion: {{presupuesto.direccion}}</p>
                    <p class="operacion">Metros cuadrados: {{presupuesto.metros2}} </p>
                    <p class="operacion">Fecha Emision: {{presupuesto.fecha_emision}}</p>
                    <p class="operacion">Plazo Vigencia: {{presupuesto.plazo_vigencia}}</p>
                    <p class="operacion">Tipo de Presupuesto: {{presupuesto.tipo}} </p>
                </div>
                <div class="contenedor-observaciones">
                    <h4>Observaciones:</h4>
                    <div class="contenedor-texto-observaciones">
                        <p class="operacion">{{ presupuesto.observaciones }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-listados">
            <div class="seccion-lista-servicios">
                <h4>Servicios:</h4>
                <div class="tabla-wrapper">
                    <table class="tabla-presupuestar" id="tabla-servicios">
                        <thead>
                            <tr>
                                <th scope="col">Tipo de Servicio</th>
                                <th scope="col">Cantidad</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in tipo_Servicios %}
                            <tr class="fila-tabla">
                                <td scope="row">{{ s.tipo_servicio.descripcion }}</td>
                                <td scope="row">{{ s.cantidad }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="seccion-frecuencias">
                <h4>Frecuencias:</h4>
                <div class="tabla-wrapper">
                    <table class="tabla-presupuestar" id="tabla-frecuencias">
                        <thead>
                            <tr>
                                <th scope="col">Dia</th>
                                <th scope="col">Turno</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for frecu in frecuencias %}
                            <tr class="fila-tabla">
                                <td scope="row">{{ frecu.dia }}</td>
                                <td scope="row">{{ frecu.turno }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="seccion-formulario">
            <h4>Importe:</h4>
            <div class="container container-formulario-porcentaje">
                <form method="GET" class="mi-form">
                    {% csrf_token %}
                    {{ form.cantidad_empleados | as_crispy_field }}
                    <input type="hidden" name="{{ form.importe_sugerido.name }}" value="{{ importe_sugerido }}">
                    <p class="operacion" id="importe-sugerido">Importe sugerido: {{ importe_sugerido }}</p>
                    {{ form.porcentaje | as_crispy_field }}
                    <input type="hidden" name="{{ form.importe_total.name }}" value="{{ importe_total }}">
                    <p class="operacion" id="importe-total">Importe total: {{ importe_total }}</p>
                    <div class="container contenedor-btn-calcular">
                        <button type="submit" class="calcular btn-calcular">Calcular</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="container-acciones">
            <a href="{% url 'presupuestarFrecuencias' %}" class="btn-volver">Volver</a>
            <button type="submit" class="confirmar-presupuesto">Confirmar</button>
        </div>
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    $(function () {
        $('.confirmar-presupuesto').click(function () {
            $(".mi-form").attr('method', 'POST').submit()
            console.log($(this))
        })
    })
</script>
{% endblock %}