{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/formsChicos.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Presupuestar Servicio</h1>
    <div class="container-info">
        <h2 class="operacion">Resumen de Presupuesto</h2>
        <span class="paso">4</span>
    </div>
{% endblock %}
{% block formulario %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="seccion">
                    <h2>Listado Tipos de Servicios</h2>
                    {% for s in tipo_Servicios %}
                        {{ s }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion">
                    <h2>Datos Personales Presupuesto</h2>
                    <p class="operacion">Datos: {{ presupuesto }}</p>
                    <p class="operacion">Cliente: {{presupuesto.cliente.nombre}}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="seccion">
                    <h2>Listado de Frecuencias</h2>
                    {% for f in frecuencias %}
                        {{ f }}
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion">
                    <h2>Datos Importe</h2>
                    <div class="container-form">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Confirmar" class="btn-Guardar">
                        </form>
                        <button type="button" class="btn-Guardar">Calcular</button>
                        <a href="{% url 'presupuestarFrecuencias' %}" class="btn-Guardar">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrajs %}
<script>
    $("#id_cliente").select2({
        allowClear: true,
        placeholder: "Seleccione cliente",
    })
</script>
{% endblock %}