{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
<link href="{%static 'css/formsChicos.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
<h1 class="titulo">Presupuestar Servicio {% if cliente %}
    <span class="operacion">> Cliente: {{ cliente.apellido }} {{ cliente.nombre }}</span>
    <span class="operacion">| Cuil: {{ cliente.cuil }}</span>
    {% else %}
    <span class="operacion">> Agregar cliente / Datos de Presupuesto</span>
    {% endif %}
</h1>
{% endblock %}
{% block formulario %}
<div class="container container-form">
    {% crispy form %}
</div>
{% endblock %}
{% block extrajs %}
<script>

    document.addEventListener("DOMContentLoaded", function () {
        // Verifica si el campo cliente no está oculto
        var clienteField = document.getElementById('id_cliente');
        console.log(clienteField)
        console.log(clienteField.closest('div').classList.contains('hidden'))
        if (clienteField && clienteField.closest('div').classList.contains('hidden')) {
            console.log("Entre a colocar selct2")
            $("#id_cliente").select2({
                allowClear: true,
                placeholder: "Seleccione cliente",
            });
        }
    });
</script>
{% endblock %}