{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/formsChicos.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Presupuestar Servicio</h1>
    <div class="container-pasos-info">
        <h2 class="operacion">Agregar cliente / Datos de Presupuesto</h2>
        <span class="paso">5</span>
    </div>
{% endblock %}
{% block formulario %}
    
{% endblock %}
{% block extrajs %}

{% endblock %}