{% extends 'layouts/baseForm.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extracss %}{{block.super}}
    <link href="{%static 'css/formsChicos.css'%}" rel="stylesheet" />
{% endblock %}
{% block title %}
    <h1 class="titulo">Presupuestar Servicio</h1>
    <h2 class="operacion">Agregar Servicios / {{presupuesto.cliente.nombre}}</h2>
{% endblock %}
{% block formulario %}
    <div class="container container-form">
        <form method="POST">
            {% csrf_token %}
            {{ formset.management_form }}
            {% for f in formset %}
                <div id="form-tipoServicios", class="input-group mb-3">
                   {{ f.as_p }}
                </div>
            {% endfor %}
            <input type="submit" value="Siguiente" class="btn-Guardar">
        </form>
        <button type="button" onclick="agregarTipoServicio()" class="btn-Guardar">Añadir Servicio</button>
    </div>
{% endblock %}
{% block extrajs %}

<script>
    function agregarTipoServicio() {
        console.log("hola")
        var total_forms = document.querySelector('#id_form-TOTAL_FORMS')
        console.log(total_forms.value)
        var nuevolabel_Tipo = document.createElement('label')
        nuevolabel_Tipo.innerHTML = 'Tipo de Servicio:'
        var nuevoInput_Tipo = document.querySelector('#id_form-0-tipo_servicio').cloneNode(true)

        nuevoInput_Tipo.name = 'form-'+total_forms.value+'-tipo_servicio'
        nuevoInput_Tipo.id = 'id_form-'+total_forms.value+'-tipo_servicio'

        var nuevolabel_cantidad = document.createElement('label')
        nuevolabel_cantidad.innerHTML = 'Cantidad:'
        var nuevoInput_cantidad = document.querySelector('#id_form-0-cantidad').cloneNode(true)
        nuevoInput_cantidad.name = 'form-' + total_forms.value + '-cantidad'
        nuevoInput_cantidad.id = 'id_form-'+total_forms.value+'-cantidad'

        document.querySelector('#form-tipoServicios').appendChild(nuevolabel_Tipo)
        document.querySelector('#form-tipoServicios').appendChild(nuevoInput_Tipo)
        document.querySelector('#form-tipoServicios').appendChild(nuevolabel_cantidad)
        document.querySelector('#form-tipoServicios').appendChild(nuevoInput_cantidad)
        total_forms.value = parseInt(total_forms.value) + 1
    }
</script>
{% endblock %}