{% load static %}
{% block detalle %}
<link href="{%static 'css/detalleCliente.css' %}" rel="stylesheet" />
<div class="container">
    <div class="container-detalles-cliente">
        <h1 class="nombre-cliente">Tipo de Servicio: {{tipo.descripcion}}</h1>
        <div class="divisor"></div>
        {% if tipo.unidad_medida == 1%}
            <p class="detalles-personales">Unidad de Medida: m2</p>
        {% else %}
            <p class="detalles-personales">Unidad de Medida: Unidad</p>
        {% endif %}
        <p class="detalles-personales"> Insumos:</p>
        {% for insumo in insumos %}
            <p class="detalles-personales">&emsp;&emsp;{{insumo.descripcion}} </p>
        {% endfor %}
        <p class="detalles-personales"> Maquinarias:</p>
        {% for maquinaria in maquinarias %}
            <p class="detalles-personales">&emsp;&emsp;{{maquinaria.nombre}} </p>
        {% endfor %}
        <div class="divisor"></div>
    </div>
</div>
{% endblock %}