{% for tipo in tipoServicios %}
<tr>
  <td>{{ tipo.pk }}</td>
  <td>{{ tipo.descripcion }}</td>
  <td>{{ tipo.getUnidadMedida }}</td>
  <td>{{ tipo.getPrecioFormateado }}</td>
  <td>
    {% if tipo.activo %}
    <i class="bi bi-check-circle-fill text-success"> Activo</i>
    {% else %}
    <i class="bi bi-x-circle-fill text-danger"> Inactivo</i>
    {% endif %}
  </td>
  <td>
    <button class="btn btn-sm btn-outline-primary me-1 btn-detalle"  data-url="{% url 'detalleTipoServicio' tipo.pk %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver detalles tipo de servicio">
      <i class="bi bi-eye"></i>
    </button>
    <a href="{% url 'modificarTipoServicio' tipo.pk %}" class="btn btn-sm btn-outline-primary me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Modificar tipo de servicio">
      <i class="bi bi-pencil-square"></i>
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <td></td>
  <td></td>
  <td colspan="0" class="text-center text-muted">No hay resultados</td>
  <td></td>
  <td></td>
  <td></td>
</tr>
{% endfor %}